.box-set {
    /* relative positioning */
    position: absolute;
    /* box-sizing: 50%; */
    width: 960px;
    height: 550px;
    background: darkgray;
    /* border: none; */
    overflow: auto;
  }
  .header{
      position: relative;
      background: lightgray;
      width: 75%;
      height: 50px;
      border: 20px;
      padding: 20px;
      margin-top: 10px;
      margin-left: 100px;
      margin-bottom: 10px;
      text-align: center;
  }
  .nav{
      position: relative;
      background: lightgray;
      width: 75%;
      height: 50px;
      border: 20px;
      padding: 20px;
      margin-top: 10px;
      margin-left: 100px;
      margin-bottom: 10px;
      text-align: center;
  }
  .section{
    position: relative;
    float: left;
    
    background: lightgray;
    width: 495px;
    height: 200px;
    /* border: 15px; */
    padding: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    margin-left:100px;

    /* text-align: center; */
}
.article{
    /* float: right; */
    background: darkgray;
    width: 450px;
    /* height: 100px;  */
    border: 0px;
    padding: 15px;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    margin-left:100px; */
    text-align: center;
}
.h1{
    position: relative;
    background: lightgray;
    width: 80%;
    /* height: 5px; */
    /* border: 15px; */
    padding: 20px;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px; */
    margin-left:25px;
    margin-bottom: 10px;
    /* text-align: center; */
}
.p{
    position: relative;
    background: lightgray;
    width: 80%;
    /* height: 5px; */
    /* border: 15px; */
    padding: 20px;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px; */
    margin-left:25px;
    margin-bottom: 10px;
    /* text-align: center; */
}
.aside{
    float: left;
    background: lightgray;
    width: 115px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.footer{
    /* position: relative;
      background: lightgray;
      width: 75%;
      border: 20px;
      padding: 20px;
      margin: auto;
      text-align: center;
  } */
    /* clear: both; */
    position: absolute;
    background: lightgray;
    width: 75%;
    border: 20px;
    padding: 20px;
    margin-top: 280px;
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: center;
}
/* .clearfix::after{
    clear: both;
} */